gradio
os
google.generativeai
langchain
openai
faiss-cpu
tiktoken
google-generativeai
langchain-google-genai
ChatGoogleGenerativeAI
langchain_core.messages
HumanMessage
AIMessage
SystemMessage
gemini-1.5-flash
langchain.schema

